body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
    background-color: #f8f8f8;
}

h1 {
    font-size: 2rem;
    background-color: white;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap; 
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
}

.left-column {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 10px;
}

.right-column {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 10px;
}

.labs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.labs li {
    list-style: none;
    margin: 10px;
}

.labs a {
    text-decoration: none;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 80px;
    text-align: center;
}

.labs a:hover {
    background-color: #333;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 20px;
    font-size: 0.9rem;
}
