body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
    background-color: #f8f8f8;
}

h1 {
    font-size: 2.5rem; 
    background-color: white;
    padding: 20px 50px; 
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    margin: 0;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.left-column {
    width: 68%; /* Ajustado para dar mais espaço */
    display: flex;
    flex-direction: column;
}

.interface-web {
    background-color: white; /* Fundo branco para a seção Interfaces Web */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; /* Faz a seção ocupar todo o espaço disponível */
}

.introducao {
    background-color: white; /* Fundo branco para a seção de Introdução */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Largura total da introdução */
    margin-top: 20px; /* Espaçamento entre a interface web e a introdução */
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ajusta a posição dos labs à esquerda */
    width: 28%; /* Ajustado para o layout */
}

.labs {
    background-color: white; /* Fundo branco para os labs */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Largura total da coluna */
}

.labs ul {
    list-style: none;
    padding: 0;
    display: flex; /* Flexbox para alinhar os labs */
    flex-direction: column; /* Alinha os labs em coluna */
    align-items: center; /* Centraliza os labs horizontalmente */
}

.labs li {
    margin: 5px; /* Espaçamento entre os labs */
    width: 80px; /* Largura fixa para os labs */
    height: 80px; /* Altura fixa para os labs */
}

.labs a {
    text-decoration: none;
    background-color: #ddd;
    padding: 10px; /* Ajustado para manter quadrado */
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Flexbox para centralizar o texto */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Preenche toda a altura do li */
}

.labs a:hover {
    background-color: #333;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 40px;
    font-size: 0.9rem;
}
