body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
    background-color: #f8f8f8;
}

h1 {
    font-size: 2.5rem; 
    background-color: white;
    padding: 20px 50px; 
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    margin: 0;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.left-column {
    width: 68%; /* Ajustado para dar mais espaço */
    display: flex;
    flex-direction: column;
}

.interface-web {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

.introducao {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-column {
    width: 28%; /* Ajustado para o layout */
}

.labs {
    background-color: white; /* Fundo branco para os labs */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.labs h3 {
    margin: 0 0 20px; /* Espaçamento abaixo do título "Laboratórios" */
}

.labs ul {
    list-style: none;
    padding: 0;
    display: flex; /* Flexbox para alinhar os labs */
    flex-direction: column; /* Alinha os labs em coluna */
    align-items: flex-start; /* Alinha os labs à esquerda */
}

.labs li {
    margin: 5px 0; /* Espaçamento entre os labs */
    width: 100%; /* Largura total para os labs */
}

.labs a {
    text-decoration: none;
    background-color: #ddd;
    padding: 10px; /* Ajustado para manter quadrado */
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block; /* Permite que o link ocupe toda a largura do li */
    text-align: center; /* Centraliza o texto */
}

.labs a:hover {
    background-color: #333;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 40px;
    font-size: 0.9rem;
}
