/* multimedia.css */

.poema-paragrafo {
    font-style: italic; /* Estilo em itálico */
    margin-bottom: 20px; /* Margem inferior */
    line-height: 1.8; /* Espaçamento entre linhas */
    text-align: justify; /* Justificação do texto */
}
